*{
    background-color: peachpuff;
  text-align: center;
}

h1 {
    font-size: 50px;
    
}

p {
    padding: 10px;
    font-size: 45px;
    
}

h2 {
    font-size: 50px;
    

}

h6{
    padding: 10px;
    display: inline;
    font-size: 45px;
    
}


h4 {
    font-size: 50px;
    display: inline-block;
    

}





h5{

    font-size: 50px;

}

h3 {
    font-size: 50px;

    

}




